<%- include('./partials/_header.ejs') %>
<%- include('./partials/_navbar.ejs') %>

<div class="container--login">
  <form action="" method="post" id="authForm">
    <h1 class="form--title">Faz Login na tua conta</h1>
    <div class="form--field">
      <label for="loginEmail">Email</label>
      <input id="loginEmail" type="email" name="email" value="">
    </div>
    <div class="form--field">
      <label for="loginPassword">Password</label>
      <input id="loginPassword" type="password" name="password" value="">
    </div>
    <input type="submit" name="submit" value="Login" class="btn btn--round">
    <span class="form--info">
      Ainda não tens conta?
      <a type="button" class="btn--text" onclick="switchLoginSignup('Signup')">Regista-te aqui!</a>
    </span>
  </form>
  <a href="/" class="btn btn--round">Go back home</a>
</div>

<script src="scripts/page-login.js"></script>
<%- include('./partials/_footer.ejs') %>
