<nav>
  <div class="nav--left">
    <a href="/">
      <img src="/images/logo_black_color.png" alt="Logo">
    </a>
    <span>escolhe um dia</span>
  </div>
  <div class="nav--right">
    <% if (page !== 'Login') { // If page is login it should not show login button%>
      <a href="/auth" class="btn btn--round">
        Login / Sign Up
      </a>
    <% } %>
  </div>
</nav>