<link rel="stylesheet" href="styles/user/services.css">

<div class="container--services">

    <div class="header--services">
      <h1>Meus serviços</h1>
    </div>

  <table>
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Duração</th>
    </tr>
    <tr>
      <td>5</td>
      <td>Corte de cabelo</td>
      <td>10€</td>
      <td>30 minutos</td>
    </tr>
  </table>
</div>